.faucet {
	width: 100%;
	margin-top: 1.75em;
	overflow: hidden;
}
.faucet .form {
	width: 100%;
}
.form .head {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-family: 'Work Sans', sans-serif;
	background: linear-gradient(-50deg, #9678d3 -50%, #2d243f 100%);
	color: white;
	padding: .75em .75em .65em;
	border-radius: 6px;
	margin-bottom: .5em;
}
.form .head h3 {
	font-size: .95em;
	font-weight: 500;
	line-height: 1.3;
}
.form .head .status {
	font-size: .8em;
	font-weight: 400;
	letter-spacing: .01em;
	color: lightgreen;
}
.form .head .inactive {
	color: lightsalmon;
}
.form .body {
	width: 100%;
	font-family: 'Work Sans', sans-serif;
	background: rgb(255, 255, 255);
	background: white;
	border-radius: 6px;
	padding: .5em .75em .75em;
}
@media screen and (max-width: 1195px) {
	.faucet {
		margin-top: 0;
	}
}

/*================= BODY FORM ==================*/
.body .wrap {
	width: 100%;
	background: transparent;
	margin-bottom: .5em;
}
.body label {
	font-size: .775em;
	font-weight: 600;
	line-height: 2;/*used as margin-bottom*/
	color: #9678d3;
}
.body .warn {
	font-size: .65em;
	font-weight: 600;
	color: #fb6060;
	margin-left: .5em;
}
.body input {
	outline: none;
	width: 100%;
	color: rgba(0, 0, 0, 0.75);
	background: #f4f2f8;
	font-family: 'Work Sans', sans-serif;
	font-size: .8em;
	font-weight: 500;
	padding: .75em;
	border: 2px solid #d5cde4;
	border-radius: 5px;
}
.body p {
	font-size: .8em;
	font-weight: 400;
	line-height: 1.25;
	color: rgba(0, 0, 0, 0.75);
	margin-bottom: .4em;
}
.body a {
	text-decoration: none;
	display: inline-block;
	font-size: .75em;
	font-weight: 600;
	color: white;
	background: #9678d3;
	padding: .5em 1em;
	border-radius: 5px;
	border: 1px solid transparent;
	margin-bottom: .25em;
	transition: all .55s ease;
}
.body a i {
	margin-right: 5px;
}
.body a:hover {
	border: 1px solid transparent;
	transform: translateX(2px);
}
.body .tweet {
	font-family: 'Work Sans', sans-serif;
	font-size: .85em;
	font-weight: 500;
	line-height: 1.4;
	color: rgba(0, 0, 0, 0.75);
	background: #f4f2f8;
	border: 2px solid #d5cde4;
	border-radius: 5px;
	padding: .5em;
	margin-bottom: .5em;
}

/*-----------------------------------------------*/
.body .note {
	display: block;
	font-size: .7em;
	font-weight: 600;
	line-height: 1.25;
	color: rgba(0, 0, 0, 0.65);
}
.body .alert {
	font-size: .75em;
	font-weight: 600;
	color: indianred;
}
.body .submit {
	color: white;
	background: #9678d3;
	font-family: 'Work Sans', sans-serif;
	font-size: .85em;
	font-weight: 600;
	padding: .7em 4em;
	border: 1px solid transparent;
	border-radius: 5px;
	cursor: pointer;
	margin-top: .75em;
	transition: all .55s ease;
}
.body .submit:hover {
	border: 1px solid transparent;
	transform: translateY(-1.5px);
}
.body .disable {
	color: rgba(0, 0, 0, 0.5);
	background: rgba(0, 0, 0, 0.2);
	cursor: not-allowed;
}

/*============== SEND DRIP RESPONSE ==============*/
.form .drip-response {
	width: 100%;
	font-family: 'Work Sans', sans-serif;
	background: rgb(255, 255, 255);
	background: white;
	border-radius: 6px;
	padding: .5em .75em .75em;
}
.drip-response h4 {
	font-size: .925em;
	line-height: 1.4;
	color: rgba(0, 0, 0, 0.75);
	margin-bottom: .75em;
}
.drip-response h5 {
	font-size: .875em;
	font-weight: 500;
	line-height: 1.25;
	color: #17cf97;
	margin-bottom: .25em;
}
.drip-response .txh {
	font-size: .85em;
	line-height: 1.25;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-bottom: .5em;
}
.drip-response .txh strong {
	color: rgba(0, 0, 0, 0.7);
}
.drip-response .txh a {
	text-decoration: none;
	text-transform: lowercase;
	color: #9678d3;
}
.drip-response button {
	color: white;
	background: #9678d3;
	font-family: 'Work Sans', sans-serif;
	font-size: .85em;
	font-weight: 600;
	padding: .35em 1em .5em;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid transparent;
	transition: all .55s ease;
}
.drip-response button:hover {
	border: 1px solid transparent;
	transform: translateY(-1px);
}